.main-button{
    display: inline-block;
    background-color: #4C5B84;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #242424;
    margin-right: 0;
    transition: transform 100ms ease-in-out;
    font-family: "Fira Code", Arial, Helvetica, sans-serif; 
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

.main-button:hover{
    background-color: #8494be;
    box-shadow: 5px 5px 0 #444444;
    transform: scale(1.09);
}