.main-section{
    background-color: #3A4042;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 10px solid #828282;
}

.main-section .main-title{
    margin-bottom: 70px;
}

.main-section._project{
    background-color: #000;
    padding-bottom: 100px;
}

.main-section._about{
    border-color: #000;
}

.main-section._contact{
    border: none;
}