.main-button{
    display: inline-block;
    background-color: #4C5B84;
    padding: 17px 19px;
    box-shadow: 5px 5px 0 #242424;
    margin-right: 0;
    transition: transform 100ms ease-in-out;
    font-family: "Fira Code", Arial, Helvetica, sans-serif; 
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.main-button:hover{
    background-color: #8494be;
    box-shadow: 5px 5px 0 #444444;
    transform: scale(1.04);
}

.main-button._btnSend{
    padding: 10px 15px;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
}

.main-button._btnSend:hover{
    transform: scale(1.01);
}