.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 100px;
}

.main-footer .items{
    display: flex;
    justify-content: space-around;
    width: 244px;
}

.main-footer .items .item-logo{
    transition: transform 100ms ease-in-out;
}

.main-footer .items .item-logo:hover{
    transform: scale(1.07);
}