.skills{
    display: flex;
    flex-direction: column;
    background-color: #3A4042;
    height: 740px;
    box-sizing: border-box;
    border-bottom: 10px solid #828282;
    text-align: center;
    padding-top: 50px;
    
}

.skills .title{
    text-shadow: none;
    color: #FFF;
}

