.skills-tec{
    display: flex;
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color: #FFF;
}

.skills-tec .icon{
    padding-right: 25px;
}

.skills-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}